<!DOCTYPE html>
<html lang="ko" class="no-js">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Get Information of K-Pop Celebrities</title>
		<meta name="description" content="A triple view diagonal slideshow with content preview.">
		<meta name="keywords" content="">
		<meta name="author" content="Codrops">
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<style>
			ul{
				display: table;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
		<script>
		document.documentElement.className = "js";
		var supportsCssVars = function() { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e };
		supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
		</script>
	</head>
	<body class="loading">
		<svg class="hidden">
			<symbol id="icon-arrow" viewBox="0 0 24 24">
				<title>arrow</title>
				<polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 " />
			</symbol>
			<symbol id="icon-drop" viewBox="0 0 24 24">
				<title>drop</title>
				<path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z" />
				<path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z" />
			</symbol>
			<symbol id="icon-longarrow" viewBox="0 0 54 24">
				<title>longarrow</title>
				<path d="M.42 11.158L12.38.256c.333-.27.696-.322 1.09-.155.395.166.593.467.593.903v6.977h38.87c.29 0 .53.093.716.28.187.187.28.426.28.716v5.98c0 .29-.093.53-.28.716a.971.971 0 0 1-.716.28h-38.87v6.977c0 .416-.199.717-.592.903-.395.167-.759.104-1.09-.186L.42 12.62a1.018 1.018 0 0 1 0-1.462z" />
			</symbol>
			<symbol id="icon-navarrow" viewBox="0 0 408 408">
				<title>navarrow</title>
				<polygon fill="#fff" fill-rule="nonzero" points="204 0 168.3 35.7 311.1 178.5 0 178.5 0 229.5 311.1 229.5 168.3 372.3 204 408 408 204"></polygon>
			</symbol>
		</svg>
		<main>
			<div class="frame">
				<header class="codrops-header">
					<h1 class="codrops-header__title">Get Information of K-Pop Celebrities for one click</h1>
				<!--
					<div class="codrops-links">
						<a class="github" href="https://github.com/minjaewon1001/2021-DataCampus-KoreaUniv-Team6">Us GitHub</a>
					
						<a class="codrops-icon codrops-icon--prev" href="https://tympanus.net/Development/SlideOutBoxMenu/" title="Previous Demo">
							<svg class="icon icon--arrow">
								<use xlink:href="#icon-arrow"></use>
							</svg>
						</a>
						<a class="codrops-icon codrops-icon--drop" href="https://tympanus.net/codrops/?p=35765" title="Back to the article">
							<svg class="icon icon--drop">
								<use xlink:href="#icon-drop"></use>
							</svg>
						</a>
				-->
					</div>
				</header>
			</div>
			<div class="slideshow", id="profile">
				<div class="slideshow__deco"></div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/irene.jfif);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">1</span>
						<h3 class="slide__title">아이린 | IRENE</h3>
						<h4 class="slide__subtitle">레드벨벳 | Red Velvet</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/seulgi.jfif);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">2</span>
						<h3 class="slide__title">슬기 | SEULGI</h3>
						<h4 class="slide__subtitle">레드벨벳 | Red Velvet</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/wendy.jfif);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">3</span>
						<h3 class="slide__title">웬디 | WENDY</h3>
						<h4 class="slide__subtitle">레드벨벳 | Red Velvet</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/joy.jfif);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">4</span>
						<h3 class="slide__title">조이 | JOY</h3>
						<h4 class="slide__subtitle">레드벨벳 | Red Velvet</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/yeri.jfif);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">5</span>
						<h3 class="slide__title">예리 | YERI</h3>
						<h4 class="slide__subtitle">레드벨벳 | Red Velvet</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/redvelvet_gray.jpg);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">0</span>
						<h3 class="slide__title">레드벨벳 | Red Velvet</h3>
						<h4 class="slide__subtitle">아이린 | 슬기 | 웬디 | 조이 | 예리</h4>
					</div>
				</div>
				<button class="nav nav--prev">
					<svg class="icon icon--navarrow-prev">
						<use xlink:href="#icon-navarrow"></use>
					</svg>
				</button>
				<button class="nav nav--next">
					<svg class="icon icon--navarrow-next">
						<use xlink:href="#icon-navarrow"></use>
					</svg>
				</button>
			</div>
			<div class="content">
				<div class="content__item">
					<span class="content__number">1</span>
					<h3 class="content__title">아이린 | IRENE</h3>
					<h4 class="content__subtitle">레드벨벳 | Red Velvet</h4>
					<div class="content__text">
						<ul>
							<li>활동명(본명) : 아이린(배주현)</li>
							<li>생년월일 : 1991-03-29</li>
							<li>출생 : 대구광역시 북구 구암동</li>
							<li>신장 : 158cm</li>
							<li>별명 : 배추, 현이, 엔딩 요정, 배토끼, 배리더,
								<br>배주디, 다리미 요정, 배프로디테, 선녀 언니, 쭈봉이 ...</li>
						</ul>
						<hr size="5" noshade>
						SM엔터테인먼트 소속 5인조 걸그룹 Red Velvet의 멤버.<br>
						그룹에서 리더, 센터, 메인래퍼, 서브보컬, 리드댄서를 맡고 있다.<br>
						학남고등학교 3학년 때였던 2009년부터 연습생 생활을 시작했다.<br>
						아이린은 레드벨벳의 최연장자이자 리더이다.<br>
						팀에서 아이린보다 어린 멤버들과는 나이 차이가 많은데,<br>
						슬기와 웬디와는 3살 차, 조이와는 5살 차, 예리와는 8살 차이다.

					</div>
				</div>
				<div class="content__item">
					<span class="content__number">2</span>
					<h3 class="content__title">슬기 | SEULGI</h3>
					<h4 class="content__subtitle">레드벨벳 | Red Velvet</h4>
					<div class="content__text">
						<ul>
							<li>활동명(본명) : 슬기(강슬기)</li>
							<li>생년월일 : 1994-02-10</li>
							<li>출생 : 경기도 안산시 단원구 초지동</li>
							<li>신장 : 161cm</li>
							<li>별명 : 곰돌이, 곰슬기, 갭신갭왕, 갸, 휴먼히읗체,<br>
								뜰기, 댄싱곰, 슬랑둥이, 행복이, 깡슬, 슬랑이, 슬자</li>
						</ul>
						<hr size="5" noshade>
						SM엔터테인먼트 소속 5인조 걸그룹 Red Velvet의 멤버.<br>
						소속 그룹 레드벨벳에서 메인댄서와 리드보컬을 맡고 있다.<br>
						3세대 K-POP 아이돌을 대표하는 댄서 중 하나이며,<br>
						보컬과 댄스 두 분야에서 가장 탄탄한 아이돌로 평가받는다.<br>
						리드보컬, 메인댄서를 맡고 있으며, 자타공인 레드벨벳의 올라운더.
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">3</span>
					<h3 class="content__title">웬디 | WENDY</h3>
					<h4 class="content__subtitle">레드벨벳 | Red Velvet</h4>
					<div class="content__text">
						<ul>
							<li>활동명(본명) : 웬디(손승완)</li>
							<li>생년월일 : 1994-02-21</li>
							<li>출생 : 서울특별시 성북구 성북동</li>
							<li>신장 : 159cm</li>
							<li>별명 : 완이(와니), 우리완, 완라프, 완람쥐, 작소완, 완뭉이, 완모예드,<br>
								손다정, 손스윗, 손흥완, 버터와니, 컨셉 요정, 흥완디, 흥디 ...</li>
						</ul>
						<hr size="5" noshade>
						SM엔터테인먼트 소속 5인조 걸그룹 Red Velvet의 멤버.<br>
						소속 그룹 레드벨벳에서 메인보컬을 맡고 있으며<br>
						레드벨벳 노래의 화음, 코러스, 후렴, 애드리브를<br>
						거의 대부분 담당하는 매우 중요한 멤버이자,<br>
						3세대 K-POP 아이돌을 대표하는 뛰어난 보컬리스트로 평가받고 있다.
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">4</span>
					<h3 class="content__title">조이 | JOY</h3>
					<h4 class="content__subtitle">레드벨벳 | Red Velvet</h4>
					<div class="content__text">
						<ul>
							<li>활동명(본명) : 조이(박수영)</li>
							<li>생년월일 : 1996-09-03</li>
							<li>출생 : 제주특별자치도</li>
							<li>신장 : 167cm</li>
							<li>별명 : 댓츠핫, 지구 젤리, 우지젤, 힙합댕댕이, 젤깅, <br>
								핫깅, 젤이, 제리, 지존, 더머, gigi, 김카페사장, 앨이...</li>
						</ul>
						<hr size="5" noshade>
						SM엔터테인먼트 소속 4인조 걸그룹 aespa의 멤버.<br>
						특징있는 음색으로 곡에 있는 보컬 파트를 잘 소화한다.<br>
						곡의 포인트가 되는 파트를 카리나와 함께 맡는다.<br>
						고음에 뛰어난 거나 성량이 큰 건 아니지만 특유의 음색이 돋보인다.<br>
						데뷔 전 학창시절 교외 합창단에서 알토 파트를 노래하는 지젤의 영상도 볼 수 있다.<br>
						데뷔 티저에서 3개 국어로 랩을 하는 모습이 공개되었다.
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">5</span>
					<h3 class="content__title">예리 | YERI</h3>
					<h4 class="content__subtitle">레드벨벳 | Red Velvet</h4>
					<div class="content__text">
						<ul>
							<li>활동명(본명) : 예리(김예리)</li>
							<li>생년월일 : 1999-03-05</li>
							<li>출생 : 서울특별시</li>
							<li>신장 : 160cm</li>
							<li>별명 : 림이, 김몌밈/몌밈이, 예부기, 옒, 거북왕,<br>
								김쁘띠, 예리미, 림카소, 막내온탑, 예쁜 빙구...</li>
						</ul>
						<hr size="5" noshade>
						SM엔터테인먼트 소속 5인조 걸그룹 Red Velvet의 멤버.<br>
						그룹에서 막내, 서브보컬, 서브래퍼를 맡고 있으며<br>
						미니 1집 앨범 〈Ice Cream Cake〉부터 팀에 합류하며 데뷔했다.<br>
						2011년에 서울 글로벌 오디션을 통해 SM엔터테인먼트에 입사하였다.
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">0</span>
					<h3 class="content__title">레드벨벳 | Red Velvet</h3>
					<h4 class="content__subtitle">아이린 | 슬기 | 웬디 | 조이 | 예리</h4>
					<div class="content__text">
						<ul>
							<li>소속사 : SM 엔터테인먼트</li>
							<li>데뷔 : 2014-08-01</li>
							<li>팬덤 : ReVeluv(레베럽)</li>
						</ul>
						<hr size="5" noshade>
						<strong>
							"(둘~ 셋!) Happiness!<br>
							안녕하세요, 레드벨벳입니다!"
						</strong>
						<hr size="5" noshade>
						Red Velvet은 SM엔터테인먼트 소속 5인조 걸그룹이다.<br>
						3세대 K-POP 아이돌을 대표하는 걸그룹 중 하나이자,<br>
						다양한 컨셉과 뛰어난 실력을 바탕으로 데뷔 후부터 활발하게 활동하고 있다.<br>
						평단의 호평과 대중성을 두루 갖춘 대표적인 아이돌 그룹으로,<br>
						SM 소속 소녀시대의 대중성과 f(x)의 예술성을 성공적으로 혼합한 결과물로 평가받는다.
					</div>
				</div>
				<button class="content__close">
					<svg class="icon icon--longarrow">
						<use xlink:href="#icon-longarrow"></use>
					</svg>
				</button>
			</div>
			
		</main>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/charming.min.js"></script>
		<script src="js/TweenMax.min.js"></script>
		<script src="js/demo.js"></script>
	</body>
</html>
