<!DOCTYPE html>
<html lang="ko" class="no-js">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Get Information of K-Pop Celebrities</title>
		<meta name="description" content="A triple view diagonal slideshow with content preview.">
		<meta name="keywords" content="">
		<meta name="author" content="Codrops">
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<style>
			ul{
				display: table;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
		<script>
		document.documentElement.className = "js";
		var supportsCssVars = function() { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e };
		supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
		</script>
	</head>
	<body class="loading">
		<svg class="hidden">
			<symbol id="icon-arrow" viewBox="0 0 24 24">
				<title>arrow</title>
				<polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 " />
			</symbol>
			<symbol id="icon-drop" viewBox="0 0 24 24">
				<title>drop</title>
				<path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z" />
				<path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z" />
			</symbol>
			<symbol id="icon-longarrow" viewBox="0 0 54 24">
				<title>longarrow</title>
				<path d="M.42 11.158L12.38.256c.333-.27.696-.322 1.09-.155.395.166.593.467.593.903v6.977h38.87c.29 0 .53.093.716.28.187.187.28.426.28.716v5.98c0 .29-.093.53-.28.716a.971.971 0 0 1-.716.28h-38.87v6.977c0 .416-.199.717-.592.903-.395.167-.759.104-1.09-.186L.42 12.62a1.018 1.018 0 0 1 0-1.462z" />
			</symbol>
			<symbol id="icon-navarrow" viewBox="0 0 408 408">
				<title>navarrow</title>
				<polygon fill="#fff" fill-rule="nonzero" points="204 0 168.3 35.7 311.1 178.5 0 178.5 0 229.5 311.1 229.5 168.3 372.3 204 408 408 204"></polygon>
			</symbol>
		</svg>
		<main>
			<div class="frame">
				<header class="codrops-header">
					<h1 class="codrops-header__title">Get Information of K-Pop Celebrities for one click</h1>
				<!--
					<div class="codrops-links">
						<a class="github" href="https://github.com/minjaewon1001/2021-DataCampus-KoreaUniv-Team6">Us GitHub</a>
					
						<a class="codrops-icon codrops-icon--prev" href="https://tympanus.net/Development/SlideOutBoxMenu/" title="Previous Demo">
							<svg class="icon icon--arrow">
								<use xlink:href="#icon-arrow"></use>
							</svg>
						</a>
						<a class="codrops-icon codrops-icon--drop" href="https://tympanus.net/codrops/?p=35765" title="Back to the article">
							<svg class="icon icon--drop">
								<use xlink:href="#icon-drop"></use>
							</svg>
						</a>
				-->
					</div>
				</header>
			</div>
			<div class="slideshow", id="profile">
				<div class="slideshow__deco"></div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/jenny.jfif);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">1</span>
						<h3 class="slide__title">제니 | Jenny</h3>
						<h4 class="slide__subtitle">블랙핑크 | BLACKPINK</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/jisoo.jfif);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">2</span>
						<h3 class="slide__title">지수 | Jisoo</h3>
						<h4 class="slide__subtitle">블랙핑크 | BLACKPINK</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/rose.jfif);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">3</span>
						<h3 class="slide__title">로제 | Rose</h3>
						<h4 class="slide__subtitle">블랙핑크 | BLACKPINK</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/lisa.jfif);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">4</span>
						<h3 class="slide__title">리사 | Lisa</h3>
						<h4 class="slide__subtitle">블랙핑크 | BLACKPINK</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/blackpink_gray.jpeg);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">0</span>
						<h3 class="slide__title">블랙핑크 | BLACKPINK</h3>
						<h4 class="slide__subtitle">제니 | 지수 | 로제 | 리사</h4>
					</div>
				</div>

				<button class="nav nav--prev">
					<svg class="icon icon--navarrow-prev">
						<use xlink:href="#icon-navarrow"></use>
					</svg>
				</button>
				<button class="nav nav--next">
					<svg class="icon icon--navarrow-next">
						<use xlink:href="#icon-navarrow"></use>
					</svg>
				</button>
			</div>
			<div class="content">
				<div class="content__item">
					<span class="content__number">1</span>
					<h3 class="content__title">제니 | Jenny</h3>
					<h4 class="content__subtitle">블랙핑크 | BLACKPINK</h4>
					<div class="content__text">
						<ul>
							<li>활동명(본명) : 제니(김제니)</li>
							<li>생년월일 : 1996-01-16</li>
							<li>출생 : 서울특별시 강남구 청담동</li>
							<li>신장 : 163cm</li>
						</ul>
						<br><hr size="5" noshade>
						<strong>
							"Didn't wanna be a princess, I'm priceless. A prince not even on my list."<br><br>
							공주가 되길 원한 적 없어. 난 가치를 매길 수 없는 존재니까.<br>
							왕자님은 내 리스트에 존재하지도 않아.<br><br>
						</strong>
						"Lovesick Girls" 中<br>
						<hr size="5" noshade><br>
							제니는 대한민국의 걸 그룹 블랙핑크의 멤버이다.<br>
							이국적이고 독특한 이름 때문에 외국인이나 교포 2세 등으로 오해하는 사람들이 많지만,<br>
							'김제니'라는 이름은 한글로 지어진 본명이며 대한민국 국적을 가진 한국인이다.

					</div>
				</div>
				<div class="content__item">
					<span class="content__number">2</span>
					<h3 class="content__title">지수 | Jisoo</h3>
					<h4 class="content__subtitle">블랙핑크 | BLACKPINK</h4>
					<div class="content__text">
						<ul>
							<li>활동명(본명) : 지수(김지수)</li>
							<li>생년월일 : 1995-01-03</li>
							<li>출생 : 경기도 군포시 산본동</li>
							<li>신장: 162cm</li>
						</ul>
						<br><hr size="5" noshade>
						<strong>
							"짠 하고 나타나면 카펫부터 깔음"<br><br>
						</strong>
						"Pretty Savage" 中<br>
						<hr size="5" noshade><br>
						지수는 대한민국의 가수이자 배우이며, 걸 그룹 블랙핑크의 멤버이다.<br>
						2011년 7월부터 YG 엔터테인먼트에서 연습생으로 활동하다가,<br>
						2016년 8월 8일 블랙핑크로 데뷔하였다.<br>
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">3</span>
					<h3 class="content__title">로제 | Rose</h3>
					<h4 class="content__subtitle">블랙핑크 | BLACKPINK</h4>
					<div class="content__text">
						<ul>
							<li>활동명(본명) : 로제(박채영)</li>
							<li>생년월일 : 1997-02-11</li>
							<li>출생 : 뉴질랜드 오클랜드</li>
							<li>신장: 168cm</li>
						</ul>
						<br><hr size="5" noshade>
						<strong>
							"Just to get high, just to realize. Everything I need is on the ground"<br><br>
							난 평생 최고의 자리에 오르기 위해 앞만 보고 달려왔어. 그리고 결국 깨달았어.<br>
							내게 필요한 모든 건 이미 나에게 있었다는 걸<br><br>
						</strong>
						"On The Ground" 中<br>
						<hr size="5" noshade><br>
						로제는 대한민국, 뉴질랜드의 가수, 댄서이자 걸 그룹 블랙핑크의 멤버이다.<br>
						1997년 뉴질랜드 오클랜드에서 태어났고 만 7살 때부터 호주 빅토리아주 멜버른에서 자랐으며, 대한민국과 뉴질랜드의 복수국적을 가지고 있다.
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">4</span>
					<h3 class="content__title">리사 | Lisa</h3>
					<h4 class="content__subtitle">블랙핑크 | BLACKPINK</h4>
					<div class="content__text">
						<ul>
							<li>활동명(본명) : 리사(라리사 마노반)</li>
							<li>생년월일 : 1997-03-27</li>
							<li>출생 : 태국 부리람 주</li>
							<li>신장: 167cm</li>
						</ul>
						<br><hr size="5" noshade>
						<strong>
							"I keep it lit like a matchstick. Bitch, I'm a star but no patrick. <br>
							I'm getting cake, that's fact, check."<br><br>
							난 성냥처럼 계속 밝게 빛나. 기집애야, 난 불가사리 따위가 아닌 스타야. <br>
							난 매번 보상을 받고 있어. 이건 사실이지.<br><br>
						</strong>
						"뚜두뚜두 (Japan Version)" 中<br>
						<hr size="5" noshade><br>
						리사(태국어: ลลิษา มโนบาล)는 대한민국의 걸 그룹 블랙핑크의 멤버이다.<br>
						개명 전 이름은 쁘란 쁘리야 마노반(태국어: ปราณปรียา มโนบาล)이다.
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">0</span>
					<h3 class="content__title">블랙핑크 | BLACKPINK</h3>
					<h4 class="content__subtitle">BLΛƆKPIИK</h4>
					<div class="content__text">
						<ul>
							<li>소속사 : YG 엔터테인먼트</li>
							<li>데뷔 : 2016-08-08</li>
							<li>팬덤 : BLINK</li>
						</ul>
						<br><hr size="5" noshade>
						<strong>
							“안녕하세요, BLACKPINK입니다!”<br>
							“Hello, we are BLACKPINK!”<br>
							“Hi, this is BLACKPINK!”<br>
						</strong>
						<hr size="5" noshade><br>
						블랙핑크(BLACKPINK)는 2016년 8월에 데뷔한 대한민국의 YG 엔터테인먼트 소속 4인조 다국적 걸 그룹이다.<br>
						YG 소속 아티스트들 중 처음으로 리더가 없는 그룹으로,<br>
						구성원 네 명이 친구처럼 지내며 서로 상의하여 더 좋은 결과를 만들기 위해 리더를 정하지 않았다.

					</div>
				</div>
				<button class="content__close">
					<svg class="icon icon--longarrow">
						<use xlink:href="#icon-longarrow"></use>
					</svg>
				</button>
			</div>
			
		</main>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/charming.min.js"></script>
		<script src="js/TweenMax.min.js"></script>
		<script src="js/demo.js"></script>
	</body>
</html>
