<!DOCTYPE html>
<html lang="ko" class="no-js">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Get Information of K-Pop Celebrities</title>
		<meta name="description" content="A triple view diagonal slideshow with content preview.">
		<meta name="keywords" content="">
		<meta name="author" content="Codrops">
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<style>
			ul{
				display: table;
				margin-left: auto;
				margin-right: auto;
			}
		</style>
		<script>
		document.documentElement.className = "js";
		var supportsCssVars = function() { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e };
		supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
		</script>
	</head>
	<body class="loading">
		<svg class="hidden">
			<symbol id="icon-arrow" viewBox="0 0 24 24">
				<title>arrow</title>
				<polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 " />
			</symbol>
			<symbol id="icon-drop" viewBox="0 0 24 24">
				<title>drop</title>
				<path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z" />
				<path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z" />
			</symbol>
			<symbol id="icon-longarrow" viewBox="0 0 54 24">
				<title>longarrow</title>
				<path d="M.42 11.158L12.38.256c.333-.27.696-.322 1.09-.155.395.166.593.467.593.903v6.977h38.87c.29 0 .53.093.716.28.187.187.28.426.28.716v5.98c0 .29-.093.53-.28.716a.971.971 0 0 1-.716.28h-38.87v6.977c0 .416-.199.717-.592.903-.395.167-.759.104-1.09-.186L.42 12.62a1.018 1.018 0 0 1 0-1.462z" />
			</symbol>
			<symbol id="icon-navarrow" viewBox="0 0 408 408">
				<title>navarrow</title>
				<polygon fill="#fff" fill-rule="nonzero" points="204 0 168.3 35.7 311.1 178.5 0 178.5 0 229.5 311.1 229.5 168.3 372.3 204 408 408 204"></polygon>
			</symbol>
		</svg>
		<main>
			<div class="frame">
				<header class="codrops-header">
					<h1 class="codrops-header__title">Get Information of K-Pop Celebrities for one click</h1>
				<!--
					<div class="codrops-links">
						<a class="github" href="https://github.com/minjaewon1001/2021-DataCampus-KoreaUniv-Team6">Us GitHub</a>
					
						<a class="codrops-icon codrops-icon--prev" href="https://tympanus.net/Development/SlideOutBoxMenu/" title="Previous Demo">
							<svg class="icon icon--arrow">
								<use xlink:href="#icon-arrow"></use>
							</svg>
						</a>
						<a class="codrops-icon codrops-icon--drop" href="https://tympanus.net/codrops/?p=35765" title="Back to the article">
							<svg class="icon icon--drop">
								<use xlink:href="#icon-drop"></use>
							</svg>
						</a>
				-->
					</div>
				</header>
			</div>
			<div class="slideshow", id="profile">
				<div class="slideshow__deco"></div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/karina.jfif);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">1</span>
						<h3 class="slide__title">카리나 | Karina</h3>
						<h4 class="slide__subtitle">에스파 | æspa</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/ningning.jfif);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">2</span>
						<h3 class="slide__title">닝닝 | Níngníng</h3>
						<h4 class="slide__subtitle">에스파 | æspa</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/winter.jfif);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">3</span>
						<h3 class="slide__title">윈터 | Winter</h3>
						<h4 class="slide__subtitle">에스파 | æspa</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/giselle.jfif);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">4</span>
						<h3 class="slide__title">지젤 | Giselle</h3>
						<h4 class="slide__subtitle">에스파 | æspa</h4>
					</div>
				</div>
				<div class="slide">
					<div class="slide__img-wrap">
						<div class="slide__img" style="background-image: url(img/aespa_gray.png);"></div>
					</div>
					<div class="slide__side", style="color : white;">Who is he/she?</div>
					<div class="slide__title-wrap">
						<span class="slide__number">0</span>
						<h3 class="slide__title">에스파 | æspa</h3>
						<h4 class="slide__subtitle">카리나 | 닝닝 | 윈터 | 지젤</h4>
					</div>
				</div>
				<button class="nav nav--prev">
					<svg class="icon icon--navarrow-prev">
						<use xlink:href="#icon-navarrow"></use>
					</svg>
				</button>
				<button class="nav nav--next">
					<svg class="icon icon--navarrow-next">
						<use xlink:href="#icon-navarrow"></use>
					</svg>
				</button>
			</div>
			<div class="content">
				<div class="content__item">
					<span class="content__number">1</span>
					<h3 class="content__title">카리나 | Karina</h3>
					<h4 class="content__subtitle">에스파 | æspa</h4>
					<div class="content__text">
						<ul>
							<li>활동명(본명) : 카리나(유지민)</li>
							<li>생년월일 : 2000-04-11</li>
							<li>출생 : 경기도 수원시 팔달구 지동</li>
							<li>신장 : 167.8cm</li>
							<li>별명 : 리나, 메추리알, 카리더, 카깅이, 오카리나, 카로미, 짤랑이,<br>
								카복치, 카랑둥, 짐, 짐닝, 유지만, 유자, 대장, 토미에, 고양이 ...</li>
						</ul>
						<br><hr size="5" noshade><br>
						SM엔터테인먼트 소속 4인조 걸그룹 aespa의 멤버.<br>
						팀의 리더를 맡고 있다. 인터뷰 때마다 멤버들을 살피거나,<br>
						뒤에 있는 멤버를 앞으로 나올 수 있게 챙겨주고 부딪히려는 스태프를 챙겨주는 등<br>
						리더다운 모습을 자주 보인다.

					</div>
				</div>
				<div class="content__item">
					<span class="content__number">2</span>
					<h3 class="content__title">닝닝 | Níngníng</h3>
					<h4 class="content__subtitle">에스파 | æspa</h4>
					<div class="content__text">
						<ul>
							<li>활동명(본명) : 닝닝(Níng Yìzhuó, 닝이줘)</li>
							<li>생년월일 : 2002-10-23</li>
							<li>출생 : 헤이룽장성 하얼빈시</li>
							<li>신장 : 161cm</li>
							<li>별명 : 닝, 닝이, 닝깅이, 익익, 닝딩동, 닝이줰, <br>
								막닝이, 닝냥이, 아기 호랑이, 만두, 닝구, 닝왕</li>
						</ul>
						<hr size="5" noshade>
						SM엔터테인먼트 소속 4인조 걸그룹 aespa의 멤버.<br>
						호기심이 많고 엉뚱한 행동을 많이 한다.<br>
						윈터와 함께 롤러코스터를 즐기는 강심장 라인이며 목소리가 크고 리액션도 크다.<br>
						언니들을 힘들게 하는 막내온탑 속성도 보이기 시작하고 있다.<br>
						장난꾸러기 기질을 가지고 있지만 의외로 시치미 떼는 것은 잘 못하는 편이다.<br>
						성격이 쾌활하며 웃긴 표정을 짓는 등 재밌는 면모를 많이 보인다.
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">3</span>
					<h3 class="content__title">윈터 | Winter</h3>
					<h4 class="content__subtitle">에스파 | æspa</h4>
					<div class="content__text">
						<ul>
							<li>활동명(본명) : 윈터(김민정)</li>
							<li>생년월일 : 2001-01-01</li>
							<li>출생 : 부산광역시 중구 남포동</li>
							<li>신장 : 165cm</li>
							<li>별명 : 유영진이 성대로 낳은 딸, 민둥이, 김윈터, 윈깅,<br>
								겨울이, 쩡이, 김민둥맨둥, 윈마멜, 메론빵, 비장한 무민, 맘단무 ...</li>
						</ul>
						<hr size="5" noshade>
						SM엔터테인먼트 소속 4인조 걸그룹 aespa의 멤버.<br>
						목소리는 여린 편이지만, 보컬은 탄탄한 편이다.
						<br>윈터의 파트인 “에스파는 나야, 둘이 될 수 없어”는 Black Mamba의 킬링 파트로 자주 언급된다.
						<br>또한 SMP로 데뷔한 그룹답게 유영진이 Black Mamba의 디렉팅을 맡았는데,
						<br>윈터의 브릿지 파트에서 그의 색이 잘 느껴진다.
						<br>이로 인해 ‘유영진의 성대로 낳은 딸’이라는 드립이 흥했다.
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">4</span>
					<h3 class="content__title">지젤 | Giselle</h3>
					<h4 class="content__subtitle">에스파 | æspa</h4>
					<div class="content__text">
						<ul>
							<li>활동명(본명) : 지젤(김애리, 우치나가 애리, Aeri Uchinaga)</li>
							<li>생년월일 : 2000-10-30</li>
							<li>출생 : 서울특별시 강남구 신사동 / 일본 국적</li>
							<li>신장 : 164cm</li>
							<li>별명 : 댓츠핫, 지구 젤리, 우지젤, 힙합댕댕이, 젤깅, <br>
								핫깅, 젤이, 제리, 지존, 더머, gigi, 김카페사장, 앨이...</li>
						</ul>
						<hr size="5" noshade>
						SM엔터테인먼트 소속 4인조 걸그룹 aespa의 멤버.<br>
						특징있는 음색으로 곡에 있는 보컬 파트를 잘 소화한다.<br>
						곡의 포인트가 되는 파트를 카리나와 함께 맡는다.<br>
						고음에 뛰어난 거나 성량이 큰 건 아니지만 특유의 음색이 돋보인다.<br>
						데뷔 전 학창시절 교외 합창단에서 알토 파트를 노래하는 지젤의 영상도 볼 수 있다.<br>
						데뷔 티저에서 3개 국어로 랩을 하는 모습이 공개되었다.
					</div>
				</div>
				<div class="content__item">
					<span class="content__number">0</span>
					<h3 class="content__title">에스파 | æspa</h3>
					<h4 class="content__subtitle">카리나 | 닝닝 | 윈터 | 지젤</h4>
					<div class="content__text">
						<ul>
							<li>소속사 : SM 엔터테인먼트</li>
							<li>데뷔 : 2020-11-17</li>
							<li>팬덤 : MY(마이)</li>
						</ul>
						<hr size="5" noshade>
						<strong>
							"Be MY æ! 안녕하세요, aespa입니다!"
						</strong>
						<hr size="5" noshade>
						aespa는 2020년 11월 17일에 데뷔한 SM엔터테인먼트 소속 4인조 다국적 걸그룹이다.<br>
						2020년에 데뷔한 그룹 중 굉장히 독보적인 성적을 내고 있는 4세대 K-POP 차세대 대표주자 중 하나인 걸그룹이다.
						그룹명 'aespa (에스파)'는 ‘아바타 X 익스피리언스 (Avatar X Experience)’를 표현한 <br>
						‘æ[읽는법]’와 양면이라는 뜻의 영단어 ‘aspect’를 결합해 만든 이름이다. <br>
						그룹명을 æspa로 표기할 때도 있다.
					</div>
				</div>
				<button class="content__close">
					<svg class="icon icon--longarrow">
						<use xlink:href="#icon-longarrow"></use>
					</svg>
				</button>
			</div>
			
		</main>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/charming.min.js"></script>
		<script src="js/TweenMax.min.js"></script>
		<script src="js/demo.js"></script>
	</body>
</html>
